html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(135deg, #050505, #0b3d2e, #062f23, #000000);
  background-attachment: fixed; /* Fija el fondo al hacer scroll */
  box-sizing: border-box;
  margin: 0;
  border: 0;
  height: 100vh;
  color: white;
  font-family: "Montserrat", serif;
}
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  width: 25%;
  box-shadow: 0px 0px 8px rgb(23, 39, 23);
  padding: 25px;
  border-radius: 5px;
  border: 1px solid black;
}
.img-container {
  width: 100%;
  max-width: 180px;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  height: auto;
  display: block;
}
input {
  padding: 10px;
  width: 270px;
  border-radius: 5px;
  border: none;
}
button {
  color: white;
  cursor: pointer;
  padding: 15px;
  margin-top: 10px;
  background-color: green;
  border: none;
  border-radius: 5px;
}
button:hover {
  background-color: #37b91d;
}
button:active {
  background-color: #bef7b3;
}
.quotes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  gap: 35px;
  width: 90%;
  box-shadow: 0px 0px 8px rgb(23, 39, 23);
  border: 1px solid black;
}
.quote {
  box-shadow: 0px 0px 8px rgb(23, 39, 23);
  width: 400px;
  height: 590px;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}
.quote:hover {
  background-color: #062f23;
  transform: translateY(-3px);
}
.fraseImagen {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 300px;
  height: 320px;
  border-radius: 5px;
}
p {
  font-size: large;
}
